
@{
    ViewBag.Title = "aboutus";
}
<section id="newsletter">
    <div class="container">
        <h1>Subscribe to our newsletter</h1>
        <form action="/contactus/newsletter" method="post">
            <input type="email" placeholder="Enter Email" name="emailsss" required>
            <button type="submit" class="button_1"> Subscribe</button>
        </form>
    </div>
</section>
<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="page-title">About Us</h1>
            <p>Covert&reg; is a private, non-profit reporting system which is trying rise the voice against every sort of crime or cruelty happening in the environment. In it the authority of reporting is given to a common man. Anyone can report any sort of crime or activity happening in the environment around him/her. Its a drawback of our society that law is only enforced to weak people/citizens and is never imposed on powerful people only because poor people are afraid to become a witness of their crimes. </p>
            <p>This platform provides the common man ease of raising the voise against the injustice being done in our society. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </article>
        <aside id="sidebar">
            <div class="dark">
                <h3>What we do</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </aside>
    </div>
</section>